In [ ]:
import pandas as pd

* pandas is a python librery used for working with datasets.
* it was created by Wes mckinney in 2008
* it has functions for analysing,cleaning,exploring and manipulating data
* the name pandas has a refference of both "panel data" and "python data analysis

# Pandass  Series

* Series is like a column in a table
* its a 1D array holding data of any type

In [ ]:
a=[10,20,30,40]

In [ ]:
ab=pd.Series(a)
print(ab)

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
name=["shifan","mhd","ct"]

In [ ]:
s=pd.Series(name)
print(s)

0    shifan
1       mhd
2        ct
dtype: object

In [ ]:
#create a series of places
place=("malpm","palakkad","kozhikod","kannur")
series=pd.Series(place)
print(series)

0       malpm
1    palakkad
2    kozhikod
3      kannur
dtype: object

In [ ]:
print(series[0])
print(series[2])
print(series[1] + series[3])

malpm
kozhikod
palakkadkannur

In [ ]:
a=[1,2,3,4]

In [ ]:
x=pd.Series(a)
print(x)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
ind=pd.Series(place,index=["w","x","y","z"])
print(ind)
print(ind["x"])
print(ind["z"])

w       malpm
x    palakkad
y    kozhikod
z      kannur
dtype: object
palakkad
kannur

In [ ]:
x=["a","b","c"]
y=pd.Series(x,index=[5,6,7])
print(y)

5    a
6    b
7    c
dtype: object

In [ ]:
A=pd.Series(["apple","orange","banana"])
print(A)

0     apple
1    orange
2    banana
dtype: object

In [ ]:
B=pd.Series(["kiwi","banana","grabes"],index=[10,20,30])
print(B)

10      kiwi
20    banana
30    grabes
dtype: object

## key value object as series

In [ ]:
dic={"a":1,"b":2,"c":3}
s=pd.Series(dic)
print(s)

a    1
b    2
c    3
dtype: int64

In [ ]:
weather={"sunny":35,"rainy":28,"overcast":25}
wt1=pd.Series(weather)
print(wt1)

sunny       35
rainy       28
overcast    25
dtype: int64

In [ ]:
weather={"sunny":35,"rainy":28,"overcast":25}
wt2=pd.Series(weather,index=["sunny","rainy","cloudy"])
print(wt2)

sunny     35.0
rainy     28.0
cloudy     NaN
dtype: float64

In [ ]:
name={"insaf":25,"shifan":18,"david":20}
x=pd.Series(name,index=["insaf","shifan"])
print(x)

insaf     25
shifan    18
dtype: int64

In [ ]:
z=pd.Series(["apple","orange","banana"],index=["a","b","c"])
print(z)

a     apple
b    orange
c    banana
dtype: object

# DataFrame

In [ ]:
students={
    'name':["amal","arun","dooraj"],
    'age':[21,18,32],
    'place':["thrissur","pala","delhi"]
}

In [ ]:
df=pd.DataFrame(students)
print(df)

     name  age     place
0    amal   21  thrissur
1    arun   18      pala
2  dooraj   32     delhi

In [ ]:
student_details={
    "names":["arun","abin","shamil","yscn",],
    "age":[15,17,19,19],
    "place":["mlp","pkd","mkd","edk"],
    "gende":["male","male","female","not_defined"],
    "qualification":["+2","+2","+2","+2"]
}

df1=pd.DataFrame(student_details)
print(df1)

    names  age place        gende qualification
0    arun   15   mlp         male            +2
1    abin   17   pkd         male            +2
2  shamil   19   mkd       female            +2
3    yscn   19   edk  not_defined            +2

In [ ]:
employee={
    "id":["1","2","3","4"],
    "name":("vishnu","akhil","amrutha","athulya"),
    "job role":("manager","CEO","Accountant","HR"),
    "salary":(20000,25000,15000,45000)
}
df2=pd.DataFrame(employee)
df2.shape

(4, 4)

In [ ]:
print(df2)

  id     name    job role  salary
0  1   vishnu     manager   20000
1  2    akhil         CEO   25000
2  3  amrutha  Accountant   15000
3  4  athulya          HR   45000

In [ ]:
df2.dtypes

id          object
name        object
job role    object
salary       int64
dtype: object

 <!-- create a dataframe of details of peoples lived in a residential areaas has following  features house number,house holder name,house name, phone number -->

In [ ]:
house_details={
    "house_number":[456,238,625,406,351],
    "house_holder_name":["vaapputty","kunjappu","jamal","hamsappa","sainu"],
    "house_name":["akkara","padinaran","parappuram","thorakkattil","odukkal"],
    "phone_number":[8560134567,8467293815,835492544,8352984538,9365865285]
}
df3=pd.DataFrame(house_details)

In [ ]:
print(df3.shape)

(5, 4)

In [ ]:
print(df3.dtypes)

house_number          int64
house_holder_name    object
house_name           object
phone_number          int64
dtype: object

## DataFrame locating

In [ ]:
print(df3)

   house_number house_holder_name    house_name  phone_number
0           456         vaapputty        akkara    8560134567
1           238          kunjappu     padinaran    8467293815
2           625             jamal    parappuram     835492544
3           406          hamsappa  thorakkattil    8352984538
4           351             sainu       odukkal    9365865285

In [ ]:
print(df3.loc[0])

house_number                456
house_holder_name     vaapputty
house_name               akkara
phone_number         8560134567
Name: 0, dtype: object

In [ ]:
print(df3.loc[2])

house_number                625
house_holder_name         jamal
house_name           parappuram
phone_number          835492544
Name: 2, dtype: object

In [ ]:
print(df3.loc[4])

house_number                351
house_holder_name         sainu
house_name              odukkal
phone_number         9365865285
Name: 4, dtype: object

## multiple raw locating

In [ ]:
print(df3.loc[[0,2]])

   house_number house_holder_name  house_name  phone_number
0           456         vaapputty      akkara    8560134567
2           625             jamal  parappuram     835492544

In [ ]:
print(df3.loc[[1,4]])

   house_number house_holder_name house_name  phone_number
1           238          kunjappu  padinaran    8467293815
4           351             sainu    odukkal    9365865285

## DataFrame Slicing

In [ ]:
print(df3.loc[2:4])

   house_number house_holder_name    house_name  phone_number
2           625             jamal    parappuram     835492544
3           406          hamsappa  thorakkattil    8352984538
4           351             sainu       odukkal    9365865285

In [ ]:
print(df3.loc[2:3])

   house_number house_holder_name    house_name  phone_number
2           625             jamal    parappuram     835492544
3           406          hamsappa  thorakkattil    8352984538

## Locating elements

In [ ]:
print(df3.loc[3,"house_holder_name"])

hamsappa

In [ ]:
print(df3.loc[2,"phone_number"])

835492544

In [ ]:
print(df3.loc[4,"house_number"])

351

## Change Index in a DataFrame

In [ ]:
Data={
    "calories":[450,380,510],
    "duration":[30,45,50]
}

In [ ]:
df=pd.DataFrame(Data,index=["a","b","c"])
print(df)

   calories  duration
a       450        30
b       380        45
c       510        50

In [ ]:
Data1={
    "veg":["carrot","cabbage","tomatto"],
    "non_veg":["beef","chicken","pork"]
}

In [ ]:
df1=pd.DataFrame(Data1,index=["a","b","c"])

In [ ]:
print(df1)

       veg  non_veg
a   carrot     beef
b  cabbage  chicken
c  tomatto     pork

In [ ]:
print(df1.loc["a"])

veg        carrot
non_veg      beef
Name: a, dtype: object

In [ ]:
print(df1.loc[["b","c"]])

       veg  non_veg
b  cabbage  chicken
c  tomatto     pork

In [ ]:
print(df1.loc["c","non_veg"])

pork

In [ ]:
print(df1.loc["a":"c"])

       veg  non_veg
a   carrot     beef
b  cabbage  chicken
c  tomatto     pork

In [ ]:
print(df1.loc["c","non_veg"])

pork